<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', path='search_style.css') }}">
</head>
<body>
    <main>
        <div class="logo-container">
            <img class="logo-container__image" src="https://mblogthumb-phinf.pstatic.net/20160511_264/ppanppane_14629780789501CsEq_PNG/%B4%D9%C0%CC%BC%D2_%B7%CE%B0%ED_%281%29.png?type=w800" alt="다이소 로고">
        </div>
        <div class="button-container">
            <button class="button-container__function-group button-container__register-button">사용자 등록</button>
            <div class="search-container">
                <form class="search-container__form">
                    <fieldset class="search-container__fieldset">
                        <input type="text" name="search" class="search-container__input" placeholder="검색어를 입력하세요">
                        <input type="submit" name="submit" class="search-container__submit-button">
                    </fieldset>
                </form>
                <div class="result-container">
                    <!-- 반환 값이 있을 경우 테이블, 반환 값이 없을 경우 '검색결과가 없습니다.'-->
                </div>
            </div>
            <button class="button-container__function-group button-container__checkout-guide-button">계산대 안내</button>
            <button class="button-container__function-group button-container__end-guide-button">안내 종료</button>
        </div>
    </main>

    <script src="{{ url_for('static', path='jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', path='search_main.js') }}"></script>
</body>
</html>