<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', path='search_style.css') }}">
</head>
<body>
    <main>
        <div class="logo-container">
            <img class="logo-container__image" src="{{ url_for('static', path='logo.png') }}" alt="돌쇠 로고">
        </div>

        <div class="button-container">
            <button class="button-container__function-group button-container__register-button">사용자 등록</button>
            <div class="search-container">
                <form class="search-container__form">
                    <fieldset class="search-container__fieldset">
                        <input type="text" name="search" class="search-container__input" placeholder="검색어를 입력하세요">
                        <input type="submit" name="submit" class="search-container__submit-button">
                    </fieldset>
                </form>
                <div class="result-container">
                    <!-- 반환 값이 있을 경우 테이블, 반환 값이 없을 경우 '검색결과가 없습니다.'-->
                </div>
            </div>
            <button class="button-container__function-group button-container__checkout-guide-button">계산대 안내</button>
            <button class="button-container__function-group button-container__end-guide-button">안내 종료</button>
        </div>
    </main>  

    <div class="modal walking_modal">
        <div class="modal-content">
            <img src="{{ url_for('static', path='walking.gif') }}" class="modal-content__gif">
            <h2 class="modal-content__title">안내 중...</h2>
            <p class="modal-content__text">안내가 완료될 때까지 기다려 주세요.
            </p>
        </div>
    </div>

    <div class="modal v_modal">
        <div class="modal-content">
            <img src="{{ url_for('static', path='v.gif') }}" class="modal-content__gif">
            <h2 class="modal-content__title">사용자 등록</h2>
            <p class="modal-content__text">사용자 등록을 위해 <br> 카메라에 V 제스처를 취해주세요.
            </p>
        </div>
    </div>

    <div class="modal crying_modal">
        <div class="modal-content">
            <img src="{{ url_for('static', path='crying.webp') }}" class="modal-content__gif">
            <h2 class="modal-content__title">안내 실패</h2>
            <p class="modal-content__text">관리자에게 문의해주세요.
            </p>
        </div>
    </div>

    <div class="modal money_modal">
        <div class="modal-content">
            <img src="{{ url_for('static', path='money.webp') }}" class="modal-content__gif">
            <h2 class="modal-content__title">계산대 안내 중....</h2>
            <p class="modal-content__text">안내가 완료될 때까지 기다려 주세요.
            </p>
        </div>
    </div>

    <div class="modal tired_modal">
        <div class="modal-content">
            <img src="{{ url_for('static', path='tired.webp') }}" class="modal-content__gif">
            <h2 class="modal-content__title">안내 종료</h2>
            <p class="modal-content__text">쇼핑 즐겁게 마치셨나요? <br> 다음에 또 돌쇠가 쇼핑을 도와드릴게요!
            </p>
        </div>
    </div>

    <script src="{{ url_for('static', path='jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', path='search_main.js') }}"></script>
</body>
</html>